# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
packages/*/dist
examples/*/dist
examples/*/.env
examples/*/.env.local

*.env*
.env
# IDE
.idea

# Build artifacts
.rsbuild
.vite
.svelte-kit

# Test coverage
coverage/
.nyc_output/
